# These requirements are only for setting up a dev environment with `pip install -r requirements.txt`
# They should match `install_requires` in setup.py. See also .travis/requirements.txt for Travis builds.
Django>=2.2
hashids>=1.2.0

# Optional
djangorestframework>=3.9.2
django-extensions>=2.1.2
